<div class="row" id="rowList">
    <div
        *ngFor="let list of lists; let i = index"
        class="col-lg-5 col-md-6 col-12"
        id="{{ !lists[i + 1] && i % 2 === 0 ? 'solo' : 'list' }}"
    >
        <a [routerLink]="['/lists', list.id]" id="boxLink">
            <div class="list col-12 row">
                <div
                    class="col-xl-3 col-lg-3 col-md-4 col-3 row imagesDiv"
                    *ngIf="listsImages !== undefined"
                    id="imgDesc"
                >
                    <div
                        *ngIf="
                            listsImages[i].length < 4 &&
                            listsImages[i].length > 0
                        "
                        class="containerImg"
                    >
                        <div class="imgDiv">
                            <img
                                loading="lazy"
                                src="{{ listsImages[i][0] }}"
                                alt=""
                                class="oneImg"
                            />
                        </div>
                    </div>
                    <div
                        *ngIf="listsImages[i].length == 0"
                        class="containerImg"
                    >
                        <div class="imgDiv">
                            <img
                                loading="lazy"
                                src="https://api.onlyweebs.csid.agilitejoviale.fr/image/32"
                                alt=""
                                class="oneImg"
                            />
                        </div>
                    </div>
                    <div
                        *ngIf="listsImages[i].length == 4"
                        class="containerImg"
                    >
                        <div
                            *ngFor="
                                let listImage of listsImages[i];
                                let j = index
                            "
                            class="imgDiv"
                        >
                            <img
                                loading="lazy"
                                src="{{ listImage }}"
                                alt="4 images together"
                                class="fourImages"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-9 containerTxt">
                    <a [routerLink]="['/lists', list.id]" id="nameList">{{
                        list.name
                    }}</a>
                    <p>{{ list.description }}</p>
                    <span id="owner"
                        >écrite par {{ list.isOwnedBy.username }}</span
                    >
                    <div
                        class="deleteButton"
                        *ngIf="isDefault === 'user_custom'"
                        id="button-div"
                    >
                        <button
                            id="delete-button"
                            type="button"
                            class="btn btn-danger"
                            (click)="delete(list.id)"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
