#container {
    color: white;
    background-color: rgba(40, 43, 48, .75);
    border-radius: 0.3em;
}

#cover {
    width: 16vw;
    padding-bottom: 2.5vh;
    border-radius: 0.3em;
    margin-top: 2.5vh;
}

#center {
    margin-right: 0.6vw;
}

.genreTag {
    width: 100%;
}

#synopsis {
    text-align: justify;

}

#btn {
    background-color: purple;
    color: white;
}

#parentLists {
    display: flex;
}

#default {
    margin-right: 1vw;
    width: 47%;
}

#custom {
    flex: 1;
}

.addToList {
    height: 40px;
}

.optionSelect {
    height: 40px;
}

option {
    background-color: rgba(40, 43, 48, 0.75);
    color: white;
}

#animeTitle {
    font-size: 2vw;
    margin-left: -0.8vw;
}

#divDetails {
}

.detailsContent {
    width: 100%;
}

#page {
    margin: auto;
}

p {
    font-size: 1vw;
}

h1 {
    font-size: 2vw;
}

#ratingBtn {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#rate {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#ratingGroup {
    padding-bottom: 2vh;
}

.comment {
    background-color: rgb(5, 35, 76);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    width:100%;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}


@media screen and (max-width: 576px) {
    p {
        font-size: 3vw;
    }

    #cover {
        width: 23vw;
        height: 20vh;
        margin-left: 35vw;
    }

    #animeTitle {
        font-size: 6vw;
        margin: 0;
        padding-left: 1vw;
    }

    h1 {
        font-size: 4vw;
    }

    #addToList {
        width: 14vw;
        font-size: 3vw;
    }

    #select {
        font-size: 3vw;
    }

    #optionSelect {
        width: 20vw;
    }

    #animeTitle {

    }
}

@media (max-width: 768px) {
    #cover {
        min-width: 10vw;
    }
}




