<div id="container">
    <div class="row box" id="page">
        <div class="col-lg-3 col-md-2 col-sm-2 col-12" id="imgPlace">
            <img src="{{anime.cover}}" class="img-fluid" id="cover" alt="">
        </div>

        <div class="col-lg-6  col-md-6 col-sm-8 col-12" id="center">
            <h1 id="animeTitle">{{ anime.internationalTitle }}</h1>
            <div id="parentLists" *ngIf="isUserAuthenticated">
                <div class="input-group mb-3" id="default">
                    <label for="optionSelectDefault"></label>
                    <select name="basicList"
                            class="custom-select custom-select-sm optionSelect"
                            size="1" id="optionSelectDefault" [(ngModel)]="selectedList">
                        <option *ngFor="let list of userDefaultLists" [value]="list.name">{{list.name}}</option>
                    </select>
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary addToList" type="button" (click)="addAnimeToList()"><i
                            class="fa fa-list"></i> Add to this default list
                        </button>
                    </div>
                </div>

                <div class="input-group mb-3" id="custom" *ngIf="userCustomLists.length!==0">
                    <label for="optionSelectCustom"></label>
                    <select name="basicList"
                            class="custom-select custom-select-sm optionSelect"
                            size="1" id="optionSelectCustom" [(ngModel)]="selectedList">
                        <option *ngFor="let list of userCustomLists" [value]="list.name">{{list.name}}</option>
                    </select>
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary addToList" type="button" (click)="addAnimeToList()"><i
                            class="fa fa-list"></i> Add to this custom list
                        </button>
                    </div>
                </div>
                <div *ngIf="userCustomLists.length===0">
                    <a [routerLink]="['/list-create']">
                        <button type="button" class="btn btn-primary btn-lg">Create a custom list</button>
                    </a>
                </div>
            </div>

            <div class="row">
                <p class="genreTag">Genre: genre1, genre2, genre3</p>
                <p>tag: tag1, tag2, tag3</p>
            </div>
            <div class="row">
                <h1>Synopsis</h1>
                <p>{{ anime.synopsis }}</p>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-1 col-12" id="divDetails">
            <div class="row">
                <h1 class="detailsContent">Details</h1>
                <p class="detailsContent">Studio: StudioName</p>
                <p class="detailsContent">Producer: ProducerName</p>
                <p class="detailsContent">Release Date: jj/mm/yy</p>
                <p class="detailsContent">Japanese Name: {{ anime.title }}</p>
            </div>
            <div class="row">
                <h1 class="detailsContent">Global Rate : {{ globalRate }}/10</h1>
                <h1 *ngIf="isUserAuthenticated" class="detailsContent">My Rating: {{currentRate}}/10 </h1>
            </div>
            <div *ngIf="isUserAuthenticated">
                <form [formGroup]="rateForm" (ngSubmit)="updateRating()">
                    <div class="input-group-prepend" id="ratingGroup">
                        <button id="ratingBtn" class="btn btn-primary">{{currentRate ? 'Update' : 'Add'}}</button>
                        <input type="number" class="form-control" id="rate" formControlName="rate" min="0" max="10"
                               placeholder="Enter your rate" (ngModelChange)="validateValue($event)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
