<div class="container text-center text-light" id="">
    <h4> Create a new list </h4>
</div>

<div class="container w-75 text-light">
    <div class="card">
        <div class="col-7">
            <div class="form-group row">
                <label for="listName">Name</label>
                <input type="text" id="listName" class="form-control">
            </div>

            <div class="form-group row">
                <label for="listDescription">Description</label>
                <textarea type="text" id="listDescription" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="privateChoice">
                    <label class="custom-control-label" for="privateChoice">Private</label>
                </div>
            </div>

            <p></p>
            <div class="row">
                <div class="form-group">
                    <h6> Add anime to the list</h6>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Add an anime">
                    <input class="form-control" type="text" placeholder="Add an anime">
                    <input class="form-control" type="text" placeholder="Add an anime">
                </div>
            </div>

        </div>
    </div>

</div>
