<div class="col text-center">
    <button class="btn btn-light" [routerLink]="['/list-create']">
        Create a new list
    </button>
</div>

<h3 class="text-center listCustom">Your default lists</h3>
<div className="col-12">
    <app-anime-list-display
        [lists]="defaultLists"
        [isDefault]="'user_default'"
    ></app-anime-list-display>
</div>
<hr />
<h3 class="text-center listCustom">Your custom lists</h3>
<div class="col-12">
    <app-anime-list-display
        [lists]="customLists"
        [isDefault]="'user_custom'"
    ></app-anime-list-display>
</div>
