<footer id="footer" class="page-footer font-small unique-color-dark">
    <div style="background-color: #2e3032">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div
                    class="
                        col-md-6 col-lg-5
                        text-center text-md-left
                        mb-4 mb-md-0
                    "
                >
                    <h4 class="mb-0">
                        Get connected with us on social networks!
                    </h4>
                </div>
                <div
                    id="social"
                    class="col-md-6 col-lg-7 text-center text-md-right"
                >
                    <a
                        class="fb-ic"
                        href="https://www.facebook.com/OnlyWeebsOfficial/"
                        aria-label="Facebook"
                    >
                        <span style="font-size: 3em; color: royalblue">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                    <a
                        class="tw-ic"
                        href="https://twitter.com/onlyweebs1"
                        aria-label="Twitter"
                    >
                        <span style="font-size: 3em; color: deepskyblue">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                    <a
                        class="gplus-ic"
                        href="https://www.youtube.com/channel/UCgBK6ydrqSWl2QAdSlWCIHA"
                        aria-label="Youtube"
                    >
                        <span style="font-size: 3em; color: red">
                            <i class="fa fa-youtube"></i>
                        </span>
                    </a>
                    <a
                        class="ins-ic"
                        href="https://www.instagram.com/onlyweebsofficial/"
                        aria-label="Instagram"
                    >
                        <span style="font-size: 3em; color: purple">
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h5 class="text-uppercase font-weight-bold">Only Weebs</h5>
                <hr
                    class="
                        deep-purple
                        accent-2
                        mb-4
                        mt-0
                        d-inline-block
                        mx-auto
                    "
                    style="width: 60px"
                />
                <p>
                    Welcome to OnlyWeebs, the world's most active online anime
                    and manga community and database.
                    <a [routerLink]="['/about-us']">About us</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h5 class="text-uppercase font-weight-bold">Useful links</h5>
                <hr
                    class="
                        deep-purple
                        accent-2
                        mb-4
                        mt-0
                        d-inline-block
                        mx-auto
                    "
                    style="width: 60px"
                />
                <p><a [routerLink]="['/account']">Your Account</a></p>
                <p><a [routerLink]="['/help']">Help</a></p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h5 class="text-uppercase font-weight-bold">Contact Us !</h5>
                <hr
                    class="
                        deep-purple
                        accent-2
                        mb-4
                        mt-0
                        d-inline-block
                        mx-auto
                    "
                    style="width: 60px"
                />
                <p>
                    <i class="fa fa-home mr-3"></i>10 rue de la Nouvelle France
                </p>
                <p>
                    <i class="fa fa-map-marker mr-3"></i>Montreuil 93100, France
                </p>
                <p><i class="fa fa-envelope mr-3"></i>onlyweebs@gmail.com</p>
                <p><i class="fa fa-phone mr-3"></i> +33 7 01 23 45 67</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a [routerLink]="['/home']"> onlyweebs.csid.agilitejoviale.fr</a>
    </div>
</footer>
