<body id="body">
	<div class="container fill">
		<div class="row testA">
			<div class="col-lg-2 col-md-1 col-sm-1 testB">
				<img loading="lazy" class="logo" src="assets/logo_OW_face.png" alt="alt" />
				<img loading="lazy" class="text" src="assets/OW-LOGO-letters.png" alt="alt" />
			</div>
			<div class="col-lg-2 col-md-1 col-sm-1 test">
				<h1>Login to OnlyWeebs</h1>
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<input owinput class="owinput" type="text" formControlName="username" placeholder="Username" />
					<input owinput class="owinput" type="password" formControlName="password" placeholder="Password" />
					<button class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
