.container {
    background-color: #3e4042;
    border-radius: 5px;
}
#articleList {
    margin-top: 2vh;
}
#article {
    margin-bottom: 1vh;
}
#photo {
    width: 28vw;
    height: 17.5vh;
}
#parent {
    display: flex;
}
#tags {
}
#infos {
    flex-grow: 1;
}
