<body>
    <div class="text-light" *ngIf="listArticles">
        <div id="titre_page" class="text-center">
            <h1>Actualités</h1>
        </div>
        <div class="container">
            <div>
                <p>recherche avancée</p>
                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button
                                class="btn btn-outline-primary"
                                id="dropdownBasic1"
                                ngbDropdownToggle
                            >
                                {{
                                    selectedCategory
                                        ? selectedCategory.name
                                        : "Category"
                                }}
                            </button>
                            <div
                                ngbDropdownMenu
                                aria-labelledby="dropdownBasic1"
                            >
                                <button
                                    *ngFor="let category of categories"
                                    ngbDropdownItem
                                    (click)="changeCategory(category)"
                                >
                                    {{ category.name }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <input type="text" [(ngModel)]="searchInputValue" />
                    </div>
                    <div class="col">
                        <button
                            class="btn btn-primary"
                            (click)="searchWithParams()"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="listArticles.length >= 5">
                <div class="row">
                    <div class="col-12 pb-5">
                        <section class="row">
                            <div
                                class="
                                    col-12 col-md-6
                                    pb-0 pb-md-3
                                    pt-2
                                    pr-md-1
                                "
                            >
                                <div
                                    id="featured"
                                    class="carousel"
                                    data-ride="carousel"
                                >
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div
                                                class="
                                                    card
                                                    border-0
                                                    rounded-0
                                                    text-light
                                                    overflow
                                                    zoom
                                                "
                                            >
                                                <div class="position-relative">
                                                    <div
                                                        class="
                                                            ratio_left-cover-1
                                                            image-wrapper
                                                        "
                                                    >
                                                        <a
                                                            [routerLink]="[
                                                                '/articles/',
                                                                listArticles[0]
                                                                    .id
                                                            ]"
                                                        >
                                                            <img
                                                                loading="lazy"
                                                                id="image1"
                                                                class="
                                                                    img-fluid
                                                                    w-100
                                                                "
                                                                src="{{
                                                                    articleImageUrls[0]
                                                                }}"
                                                                alt="Bootstrap news template"
                                                            />
                                                        </a>
                                                    </div>
                                                    <div
                                                        class="
                                                            position-absolute
                                                            p-2 p-lg-3
                                                            b-0
                                                            w-100
                                                            bg-shadow
                                                        "
                                                    >
                                                        <a
                                                            [style.background-color]="
                                                                listArticles[0]
                                                                    .category
                                                                    .bgColor
                                                            "
                                                            class="
                                                                p-1
                                                                badge
                                                                badge-primary
                                                                rounded-0
                                                            "
                                                            [routerLink]="[
                                                                '/articles/',
                                                                listArticles[0]
                                                                    .id
                                                            ]"
                                                        >
                                                            {{
                                                                listArticles[0]
                                                                    .category
                                                                    .name
                                                            }}</a
                                                        >
                                                        <a
                                                            [routerLink]="[
                                                                '/articles/',
                                                                listArticles[0]
                                                                    .id
                                                            ]"
                                                        >
                                                            <h2
                                                                class="
                                                                    h3
                                                                    post-title
                                                                    text-white
                                                                    my-1
                                                                "
                                                            >
                                                                {{
                                                                    listArticles[0]
                                                                        .title
                                                                }}
                                                            </h2>
                                                        </a>
                                                        <div class="news-meta">
                                                            <span
                                                                class="
                                                                    news-author
                                                                "
                                                                >by
                                                                <a
                                                                    class="
                                                                        text-white
                                                                        font-weight-bold
                                                                    "
                                                                    href="/#/animes"
                                                                    >{{
                                                                        listArticles[0]
                                                                            .author
                                                                            .username
                                                                    }}</a
                                                                ></span
                                                            >
                                                            <span
                                                                class="
                                                                    news-date
                                                                "
                                                            >
                                                                on
                                                                {{
                                                                    listArticles[0]
                                                                        .created_at
                                                                }}</span
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="
                                    col-12 col-md-6
                                    pt-2
                                    pl-md-1
                                    mb-3 mb-lg-4
                                "
                            >
                                <div class="row">
                                    <div class="col-6 pb-1 pt-0 pr-1">
                                        <div
                                            class="
                                                card
                                                border-0
                                                rounded-0
                                                text-white
                                                overflow
                                                zoom
                                            "
                                        >
                                            <div class="position-relative">
                                                <div
                                                    class="
                                                        ratio_right-cover-2
                                                        image-wrapper
                                                    "
                                                >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[1].id
                                                        ]"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            class="img-fluid"
                                                            src="{{
                                                                articleImageUrls[1]
                                                            }}"
                                                            alt="simple blog template bootstrap"
                                                        />
                                                    </a>
                                                </div>
                                                <div
                                                    class="
                                                        position-absolute
                                                        p-2 p-lg-3
                                                        b-0
                                                        w-100
                                                        bg-shadow
                                                    "
                                                >
                                                    <a
                                                        [style.background-color]="
                                                            listArticles[1]
                                                                .category
                                                                .bgColor
                                                        "
                                                        class="
                                                            p-1
                                                            badge badge-primary
                                                            rounded-0
                                                        "
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[1].id
                                                        ]"
                                                    >
                                                        {{
                                                            listArticles[1]
                                                                .category.name
                                                        }}</a
                                                    >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[1].id
                                                        ]"
                                                    >
                                                        <h2
                                                            class="
                                                                h5
                                                                text-white
                                                                my-1
                                                            "
                                                        >
                                                            {{
                                                                listArticles[1]
                                                                    .title
                                                            }}
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 pb-1 pl-1 pt-0">
                                        <div
                                            class="
                                                card
                                                border-0
                                                rounded-0
                                                text-white
                                                overflow
                                                zoom
                                            "
                                        >
                                            <div class="position-relative">
                                                <div
                                                    class="
                                                        ratio_right-cover-2
                                                        image-wrapper
                                                    "
                                                >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[2].id
                                                        ]"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            class="img-fluid"
                                                            src="{{
                                                                articleImageUrls[2]
                                                            }}"
                                                            alt="bootstrap templates for blog"
                                                        />
                                                    </a>
                                                </div>
                                                <div
                                                    class="
                                                        position-absolute
                                                        p-2 p-lg-3
                                                        b-0
                                                        w-100
                                                        bg-shadow
                                                    "
                                                >
                                                    <a
                                                        [style.background-color]="
                                                            listArticles[2]
                                                                .category
                                                                .bgColor
                                                        "
                                                        class="
                                                            p-1
                                                            badge badge-primary
                                                            rounded-0
                                                        "
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[2].id
                                                        ]"
                                                        >{{
                                                            listArticles[2]
                                                                .category.name
                                                        }}</a
                                                    >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[2].id
                                                        ]"
                                                    >
                                                        <h2
                                                            class="
                                                                h5
                                                                text-white
                                                                my-1
                                                            "
                                                        >
                                                            {{
                                                                listArticles[2]
                                                                    .title
                                                            }}
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 pb-1 pr-1 pt-1">
                                        <div
                                            class="
                                                card
                                                border-0
                                                rounded-0
                                                text-white
                                                overflow
                                                zoom
                                            "
                                        >
                                            <div class="position-relative">
                                                <div
                                                    class="
                                                        ratio_right-cover-2
                                                        image-wrapper
                                                    "
                                                >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[3].id
                                                        ]"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            class="img-fluid"
                                                            src="{{
                                                                articleImageUrls[3]
                                                            }}"
                                                            alt="bootstrap blog wordpress theme"
                                                        />
                                                    </a>
                                                </div>
                                                <div
                                                    class="
                                                        position-absolute
                                                        p-2 p-lg-3
                                                        b-0
                                                        w-100
                                                        bg-shadow
                                                    "
                                                >
                                                    <a
                                                        [style.background-color]="
                                                            listArticles[3]
                                                                .category
                                                                .bgColor
                                                        "
                                                        class="
                                                            p-1
                                                            badge badge-primary
                                                            rounded-0
                                                        "
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[3].id
                                                        ]"
                                                        >{{
                                                            listArticles[3]
                                                                .category.name
                                                        }}</a
                                                    >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[3].id
                                                        ]"
                                                    >
                                                        <h2
                                                            class="
                                                                h5
                                                                text-white
                                                                my-1
                                                            "
                                                        >
                                                            {{
                                                                listArticles[3]
                                                                    .title
                                                            }}
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 pb-1 pl-1 pt-1">
                                        <div
                                            class="
                                                card
                                                border-0
                                                rounded-0
                                                text-white
                                                overflow
                                                zoom
                                            "
                                        >
                                            <div class="position-relative">
                                                <div
                                                    class="
                                                        ratio_right-cover-2
                                                        image-wrapper
                                                    "
                                                >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[4].id
                                                        ]"
                                                    >
                                                        <img
                                                            loading="lazy"
                                                            class="img-fluid"
                                                            src="{{
                                                                articleImageUrls[4]
                                                            }}"
                                                            alt="blog website templates bootstrap"
                                                        />
                                                    </a>
                                                </div>
                                                <div
                                                    class="
                                                        position-absolute
                                                        p-2 p-lg-3
                                                        b-0
                                                        w-100
                                                        bg-shadow
                                                    "
                                                >
                                                    <a
                                                        [style.background-color]="
                                                            listArticles[4]
                                                                .category
                                                                .bgColor
                                                        "
                                                        class="
                                                            p-1
                                                            badge badge-primary
                                                            rounded-0
                                                        "
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[4].id
                                                        ]"
                                                        >{{
                                                            listArticles[4]
                                                                .category.name
                                                        }}</a
                                                    >
                                                    <a
                                                        [routerLink]="[
                                                            '/articles/',
                                                            listArticles[4].id
                                                        ]"
                                                    >
                                                        <h2
                                                            class="
                                                                h5
                                                                text-white
                                                                my-1
                                                            "
                                                        >
                                                            {{
                                                                listArticles[4]
                                                                    .title
                                                            }}
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <a
                    *ngFor="
                        let article of listArticlesRunner;
                        let index = index
                    "
                >
                    <hr class="featurette-divider" />
                    <div
                        class="row featurette"
                        routerLink="/articles/{{ article.id }}"
                    >
                        <div class="col-md-6 order-md-2">
                            <h2 class="featurette-heading articleTitle">
                                {{ article.title }}
                            </h2>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <a
                                style="position: absolute; top: 1vh"
                                [style.background-color]="
                                    article.category.bgColor
                                "
                                class="p-1 badge badge-primary rounded-0"
                                [routerLink]="['/articles/', article.id]"
                                >{{ article.category.name }}</a
                            >
                            <img
                                loading="lazy"
                                class="
                                    bottom
                                    bd-placeholder-img bd-placeholder-img-lg
                                    featurette-image
                                    mx-auto
                                    articleImage
                                "
                                src="{{ articleImageUrls[index + 5] }}"
                                alt="article image"
                            />
                        </div>
                    </div>
                </a>
                <hr />
            </div>
            <div *ngIf="listArticles.length < 5">
                <a *ngFor="let article of listArticles; let index = index">
                    <div
                        class="row featurette"
                        routerLink="/articles/{{ article.id }}"
                    >
                        <div class="col-md-6 order-md-2">
                            <h2 class="featurette-heading articleTitle">
                                {{ article.title }}
                            </h2>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <a
                                style="position: absolute; top: 1vh"
                                [style.background-color]="
                                    article.category.bgColor
                                "
                                class="p-1 badge badge-primary rounded-0"
                                [routerLink]="['/articles/', article.id]"
                                >{{ article.category.name }}</a
                            >
                            <img
                                loading="lazy"
                                class="
                                    bottom
                                    bd-placeholder-img bd-placeholder-img-lg
                                    featurette-image
                                    mx-auto
                                    articleImage
                                "
                                src="{{ articleImageUrls[index] }}"
                                alt="article image"
                            />
                        </div>
                    </div>
                    <hr *ngIf="index < 3" class="featurette-divider" />
                </a>
            </div>
        </div>
    </div>
    <div id="loadMoreBtn" *ngIf="enableLoadMore === true">
        <button (click)="loadMore()" class="btn btn-primary">Load more</button>
    </div>
</body>
