body {
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.container {
	padding: 5vh;
	margin-bottom: 2vh;
	background-color: #212223;
	border-radius: 0.3em;
}

.img-fluid {
	width: 262px;
	height: 226px;
}

#image1 {
	height: 460px;
}

#body p {
	padding: 0.5vw;
	color: white;
}

.b-0 {
	bottom: 0;
}

.bg-shadow {
	background: rgba(76, 76, 76, 0);
	background: -webkit-gradient(
		left top,
		left bottom,
		color-stop(0%, rgba(179, 171, 171, 0)),
		color-stop(49%, rgba(48, 48, 48, 0.37)),
		color-stop(100%, rgba(19, 19, 19, 0.8))
	);
	background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

.top-indicator {
	right: 0;
	top: 1rem;
	bottom: inherit;
	left: inherit;
	margin-right: 1rem;
}

.overflow {
	position: relative;
	overflow: hidden;
}

.zoom img {
	transition: all 0.2s linear;
}

.zoom:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.featurette-divider {
	border-color: #868686;
	width: 50vw;
}

.articleImage {
	margin-top: 1vh;
	width: 23vw;
	height: 23vh;
}

.featurette:hover {
	cursor: pointer;
}

.articleTitle {
	margin-left: 2vw;
	margin-top: 1vw;
	font-size: 3vh;
}

#loadMoreBtn {
	margin-top: 3vh;
	text-align: center;
}

#loadMoreBtn button {
	margin: auto;
}

@media screen and (min-width: 1000px) {
	.image1 {
		width: 50%;
		height: 50%;
	}
}

.featurette-image {
	width: 262px;
	height: 262px;
	margin: auto;
	display: block;
}
