<body>
	<div class="container" id="mainContainer">
		<div class="row">
			<h1 class="col-md-12 text-center text-light">Welcome to OnlyWeebs, the world's most active online anime community and database !</h1>
			<h3 class="col-md-12 text-center text-light">CREATE YOUR LIST</h3>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boxTxt">
				<img
					class="boxImg"
					src="https://cdn.discordapp.com/attachments/773832860674686976/857701266929745930/fig01_12.png"
					alt="what have you watched"
				/>
				<h3>What have you watched?</h3>
				<p>Create your personalized list from tens of thousands of titles on the world’s largest anime database.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boxTxt">
				<img
					class="boxImg"
					src="https://cdn.discordapp.com/attachments/773832860674686976/857701267896139857/fig01_22.png"
					alt="need to stay up to date"
				/>
				<h3>Need to stay up to date?</h3>
				<p>
					Use your list to organize and track what titles you’ve completed, your current progress, what you plan to watch and so much more.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="col-md-12 text-center">JOIN THE COMMUNITY</h3>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boxTxt">
				<img
					class="boxImg"
					src="https://cdn.discordapp.com/attachments/773832860674686976/857701264951738378/fig02_12.png"
					alt=" Which titles do you like?"
				/>
				<h3>Which titles do you like?</h3>
				<p>Our comments are the best place to discuss your favorite series and keep up to date with anime, news and trends.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 boxTxt">
				<img
					class="boxImg"
					src="https://cdn.discordapp.com/attachments/773832860674686976/857701264484466728/fig02_22.png"
					alt="Who else is online?"
				/>
				<h3>Who else is online?</h3>
				<p>Connect with of fans from all over the world in our active online community !</p>
			</div>
		</div>
		<div class="row">
			<h3 class="col-md-12 text-center">Discover more about the world of anime now!</h3>
			<div class="col text-center">
				<button routerLink="/register" class="btn btn-primary">Sign Up Here</button>
			</div>
		</div>
	</div>
</body>
