<div class="container body" style="font-size: large">
    <div class="container text-center header" id="list_title">
        <h3>{{ listInfo.name }}</h3>
        <p class="desc">Author : {{ listInfo.isOwnedBy.username }}</p>
        <p class="desc">Description : {{ listInfo.description }}</p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr class="table-dark">
                    <th style="border-top-left-radius: 5px">Rank</th>
                    <th>Cover</th>
                    <th>Anime</th>
                    <th>Seen Episodes</th>
                    <th style="border-top-right-radius: 5px"></th>
                </tr>
            </thead>

            <tbody class="table-dark">
                <tr
                    *ngFor="let l of animesOfThisList; let i = index"
                    class="tr"
                >
                    <td id="{{ i + 1 }}">{{ i + 1 }}</td>
                    <td>
                        <img
                            loading="lazy"
                            style="max-height: 72px"
                            src="{{ l.imgUrl }}"
                            alt=""
                        />
                    </td>
                    <td>
                        <a [routerLink]="['/animes', l.id]">{{ l.title }}</a>
                    </td>
                    <td>X/{{ l.episodes }}</td>
                    <td>
                        <button
                            *ngIf="owned"
                            (click)="onDelete(l.id)"
                            id="removeAnime"
                            class="btn btn-xs btn-danger"
                        >
                            X
                        </button>
                    </td>
                </tr>
                <tr *ngIf="owned" id="test">
                    <td style="border-bottom-left-radius: 5px">
                        <button
                            class="btn btn-primary"
                            *ngIf="!isDefault"
                            (click)="open(content)"
                        >
                            <span
                                ><i class="fa fa-plus-square"></i>add an
                                anime</span
                            >
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="border-bottom-right-radius: 5px">
                        <button
                            class="btn btn-danger"
                            *ngIf="!isDefault"
                            (click)="deleteList()"
                        >
                            <span
                                ><i class="fa fa-trash"></i> delete this
                                list</span
                            >
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="commentSection" class="row d-flex justify-content-center">
        <div
            *ngIf="comments !== undefined"
            [ngClass]="
                isConnected
                    ? 'col-sm-6 col-md-6 col-6 pb-6'
                    : 'col-sm-8 col-md-8 col-8 pb-8'
            "
        >
            <h1>Comments</h1>
            <div
                *ngFor="let comment of comments; let index = index"
                class="mt-4 text-justify float-left comment"
            >
                <img
                    loading="lazy"
                    src="data:image/webp;base64,{{
                        comment.user.image.content
                    }}"
                    alt="profile image"
                    class="rounded-circle"
                    width="80"
                    height="80"
                />
                <h4>{{ comment.user.username }}</h4>
                <span>-{{ comment.date | date: "dd/MM/yyyy" }}</span> <br />
                <p>{{ comment.body }}</p>
            </div>
        </div>
        <div
            *ngIf="isConnected"
            class="
                col-lg-4 col-md-5 col-sm-4
                offset-md-1 offset-sm-1
                col-12
                mt-4
            "
        >
            <form
                id="align-form"
                (ngSubmit)="sendListComment()"
                [formGroup]="commentForm"
            >
                <div class="form-group">
                    <h1>Leave a comment</h1>
                    <label for="message">Message</label>
                    <textarea
                        name="msg"
                        id="message"
                        cols="30"
                        rows="5"
                        class="form-control"
                        formControlName="comment"
                        style="background-color: black"
                    ></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        {{ userHasComment ? "Edit Comment" : "Post Comment" }}
                    </button>
                    <button
                        *ngIf="userHasComment"
                        id="delete-button"
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteListComment()"
                    >
                        Delete your comment
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add an anime</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form
            class="container w-75 text-light"
            [formGroup]="addAnimeForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="form-group">
                <div class="input-group">
                    <input
                        placeholder="Add an anime"
                        id="addAnime"
                        [(ngModel)]="selectedValue"
                        [ngModelOptions]="{ standalone: true }"
                        [typeahead]="allAnimes"
                        typeaheadOptionField="title"
                        [typeaheadScrollable]="true"
                        (typeaheadOnSelect)="onSelect($event)"
                        class="form-control"
                    />
                    <button
                        id="sendNewList"
                        class="btn btn-sm btn-primary float-right searchBtn"
                    >
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
