<div class="container body" style="font-size: large">
    <div class="container text-center header" id="list_title">
        <h3>{{ listInfo.name }}</h3>
        <p id="desc">{{ listInfo.description }}</p>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr class="table-dark">
                <th style="border-top-left-radius: 5px">Rank</th>
                <th>Cover</th>
                <th>Anime</th>
                <th>Seen Episodes</th>
                <th style="border-top-right-radius: 5px"></th>
            </tr>
        </thead>

        <tbody class="table-dark">
            <tr *ngFor="let l of animesOfThisList; let i = index" class="tr">
                <td id="{{ i + 1 }}">{{ i + 1 }}</td>
                <td><img style="max-height: 72px" src="{{l.imgUrl}}"></td>
                <td>
                    <a [routerLink]="['/animes', l.id]">{{ l.title }}</a>
                </td>
                <td>X/{{l.episodes}}</td>
                <td>
                    <button
                        *ngIf="owned"
                        (click)="onDelete(l.id)"
                        id="removeAnime"
                        class="btn btn-xs btn-danger"
                    >
                        X
                    </button>
                </td>
            </tr>
            <tr *ngIf="owned" id="test">
                <td style="border-bottom-left-radius: 5px">
                    <button class="btn btn-primary" *ngIf="!isDefault" (click)="open(content)">
                        <span
                        ><i class="fa fa-plus-square"></i> add an anime</span>
                    </button>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td style="border-bottom-right-radius: 5px">
                    <button class="btn btn-danger" *ngIf="!isDefault" (click)="deleteList()">
                        <span
                            ><i class="fa fa-trash"></i> delete this list</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add an anime</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form
            class="container w-75 text-light"
            [formGroup]="addAnimeForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="form-group">
                <div class="input-group">
                    <input
                        placeholder="Add an anime"
                        id="addAnime"
                        [(ngModel)]="selectedValue"
                        [ngModelOptions]="{ standalone: true }"
                        [typeahead]="allAnimes"
                        typeaheadOptionField="title"
                        [typeaheadScrollable]="true"
                        (typeaheadOnSelect)="onSelect($event)"
                        class="form-control"
                    />
                    <button
                        id="sendNewList"
                        class="btn btn-sm btn-primary float-right searchBtn"
                    >
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
