#list_title {
    color: white;
}

#review_title {
    color: #aaaaaa;
}

a {
    color: white;
    text-decoration: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
    margin-left: 0.25rem;
}
.body {
    padding-top: 2vh;
}
.header {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    background-color: #2e3032;
    border-radius: 5px;
}

th {
    background-color: #11428d !important;
    border-color: transparent !important;
    color: white !important;
}
td {
    background-color: #2e3032;
    border-color: white;
}
.searchBtn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.close {
    color: red;
}

#desc {
    font-size: 1vw;
    text-align: center;
    text-justify: inter-word;
}
#test {
    border-color: transparent !important;
}
@media screen and (max-width: 576px) {
    #desc {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    #desc {
        font-size: 15px;
    }
}
@media screen and (max-width: 1024px) {
    #desc {
        font-size: 15px;
    }
}
