#list_title {
    color: #aaaaaa;
}

#review_title {
    color: #aaaaaa;
}

a {
    color: red;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
    margin-left: .25rem;
}
