.navbar {
    background-color: #212223;
}

.nav-item {
    margin-right: 25px;
}

.navbar-dark .navbar-nav .is-active {
    color: #097ce7;
}

#searchBlock {
    margin-top: 1.5vh;
    margin-right: 5vw;
    width: 20vw;
}

#searchInput {
    background-color: dimgrey;
    color: white;
    box-shadow: none !important;
    border-color: dimgrey;
    width: 25vw;
}

#imgLoop {
    display: block;
    margin: auto;
    height: 1vw;
    -webkit-filter: invert(100%);
}

::placeholder {
    color: white;
    opacity: 1;
}

#dropdownBasic1 {
    margin-right: 2vw;
    color: rgba(255, 255, 255, 0.5);
    border: none;
}

.btn-nav-link:hover {
    background-color: #3e4042;
}

.dropdown-menu {
    background-color: #3e4042;
}

.dropdown-nav-link {
    color: #e4e4e4;
}

.dropdown-nav-link:hover {
    color: #097ce7;
}

@media screen and (max-width: 576px) {
    #imgLoop {
        height: 4vw;
    }
    .btn-primary {
        width: 13vw;
    }
    #searchBlock {
        margin-top: 0;
        margin-right: 0;
    }
}
