
<nav class="navbar navbar-expand-md navbar-dark ">
    <a class="navbar-brand" routerLink="home">
        <img id="homeImage"
             src="assets/ow-smol-text.webp"
             alt="alt"/>
    </a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/animes']">ANIMES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/lists']">LISTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" *ngIf="!isUserAuthenticated">LOGIN</a>
                <a class="nav-link" (click)="logoutUser()" *ngIf="isUserAuthenticated">LOGOUT</a>
            </li>
            <li class="nav-item" *ngIf="!isUserAuthenticated">
                <a class="nav-link" [routerLink]="['/register']">SIGN UP</a>
            </li>
            <li class="nav-item" *ngIf="isUserAuthenticated">
                <a class="nav-link" [routerLink]="['/account']">MY ACCOUNT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3" id="searchBlock">
                <input id="searchInput" type="text" class="form-control" placeholder="Search an anime" aria-label="Search an anime" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-primary" type="button"><i style="color: #e4e4e4" class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</nav>
