#router {
    background-image: url("../assets/bghome.webp");
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-size: cover;

}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

i {
    color: white;
    background-color: white;
}
