#router {
    background-image: url("https://cdn.discordapp.com/attachments/773832860674686976/819543493772705842/bghome.png");
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-size: cover;

}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

i {
    color: white;
    background-color: white;
}
