<div id="container" class="col-lg-2 col-md-1 col-sm-1 test">
    <div id="form">
        <h1>change password</h1>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
            <input class="input" type="password" formControlName="newPassword" placeholder="New password">
            <input class="input" type="password" formControlName="confirmPassword" placeholder="Confirm new password">
            <button class="btn btn-primary btn-block" [disabled]="!updatePasswordForm.valid">Submit</button>
        </form>
    </div>
</div>
