<body>
	<div id="center" height="1300">
		<div class="container mainContainer text-light">
			<div id="title" class="text-center">
				<h1>Welcome to OnlyWeebs !</h1>
			</div>
			<div class="container">
				<div class="text-center">
					<h2>Latest Anime Lists!</h2>
				</div>
				<div class="row">
					<div class="col">
						<tabset [justified]="true" class="" type="pills">
							<tab *ngFor="let list of lists; let index = index">
								<ng-template tabHeading>
									<h4>Top {{ index + 1 }}</h4>
									<span class=""></span>
								</ng-template>
								<div class="row displayList" style="margin: 5%">
									<div>
										<img class="img-fluid" src="https://api.onlyweebs.csid.agilitejoviale.fr/image/32" alt="" />
									</div>
									<div class="col" style="margin-left: 1vw">
										<div class="row">
											<a routerLink="/lists/{{ list.id }}">
												<h3>{{ list.name }}</h3>
											</a>
										</div>
										<div class="row">
											<h4>{{ list.description }}</h4>
										</div>
										<div id="owner" class="row">
											<span>écrite par {{ list.isOwnedBy.username }}</span>
										</div>
									</div>
								</div>
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div>
		<div class="container mainContainer">
			<div class="text-light text-center">
				<h2>Dernières sorties d'animes</h2>
			</div>
			<ng-image-slider style="cursor: pointer" #nav [images]="imageObject" [imagePopup]="false" (imageClick)="goToAnime($event)">
			</ng-image-slider>
		</div>
	</div>
</body>
