#body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

#myCarousel {
    min-width: 60%;
    max-width: 60%;
    margin: auto;
    outline: none;
}

#myCarousel h3 {
    color: black;
}

#myCarousel p {
    color: black;
}

#market {
    min-width: 60%;
    max-width: 60%;
    margin: auto;
    color: white;
    background-color: rgba(40, 43, 48, .75);
}

#firstRow {
    padding-top: 1.5vh;
}

.carousel-img {
    display: block;
    margin: auto;
}
