#icon_like, #icon_share {
    max-width: 28px;
    max-height: 28px;
    display:block;
}

#likes {
    color: red;
    display:block;
}

#shares {
    color: green;
    display:block;
}
#image_top1 {
    max-width: 25em;
}
#image_top1:hover {
    opacity: 50%;
    transition: 0.4s;
}
#image_top1:not(:hover) {
    transition: 0.4s;
}

#top_listes {
    background-color: #212223;
    padding: 2em;
}

#top1 {
    padding-right: 2em;
}
