body {
	padding-bottom: 2vh;
	padding-top: 2vh;
}

.mainContainer {
	background-color: #212223;
	padding-top: 2vh;
}

.displayList {
	background-color: #2e3032;
	height: 226px;
	overflow: auto;
	white-space: initial;
	overflow-wrap: normal;
}

.img-fluid {
	width: 262px;
	height: 226px;
}

#owner {
	color: #868686;
	font-style: italic;
}
