<body class="container">
<form [formGroup]="articleInfos">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title"
               placeholder="Enter Title">
        <label for="featuredImage">Featured Image</label>
        <input id="featuredImage" type="file"
               placeholder="Upload file" accept="image/*" (change)="fileChange($event)">
    </div>
</form>
<div id="editor">
    <ckeditor [(ngModel)]="body" [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor>
</div>

<button (click)="submit()">Publish Article</button>
</body>

